@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply normal-case;
}

.flex-center {
  @apply flex items-center justify-center;
}

.chat-height {
  height: calc(100vh - 4.6rem);
  overflow: hidden;
}

.chat-grid {
  grid-template-rows: 60px 1fr 60px;
}
